{
  "id": 15023095,
  "id_str": "15023095",
  "name": "Somite",
  "screen_name": "toxicpath",
  "location": "",
  "profile_location": null,
  "description": "Agnotologist. Epicurean seeker of platonic wisdom. Politics. Gadgets. Coffee. Food. Science. Energy. Climate.",
  "url": null,
  "entities": {
    "description": {
      "urls": []
    }
  },
  "protected": false,
  "followers_count": 1373,
  "friends_count": 1807,
  "listed_count": 76,
  "created_at": "Thu Jun 05 20:40:37 +0000 2008",
  "favourites_count": 763,
  "utc_offset": -18000,
  "time_zone": "Central Time (US & Canada)",
  "geo_enabled": true,
  "verified": false,
  "statuses_count": 69364,
  "lang": "en",
  "status": {
    "created_at": "Mon Oct 27 00:09:24 +0000 2014",
    "id": 526526040022450176,
    "id_str": "526526040022450176",
    "text": "@AaronAbsolute @fangbreaker @hanscs @tibfulv I don't want to ban anything. I want tight regulation, registration and insurance.",
    "source": "<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>",
    "truncated": false,
    "in_reply_to_status_id": 526523594487382017,
    "in_reply_to_status_id_str": "526523594487382017",
    "in_reply_to_user_id": 2840954147,
    "in_reply_to_user_id_str": "2840954147",
    "in_reply_to_screen_name": "AaronAbsolute",
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "favorite_count": 0,
    "entities": {
      "hashtags": [],
      "symbols": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "AaronAbsolute",
          "name": "Aaron",
          "id": 2840954147,
          "id_str": "2840954147",
          "indices": [
            0,
            14
          ]
        },
        {
          "screen_name": "fangbreaker",
          "name": "Cody",
          "id": 336002124,
          "id_str": "336002124",
          "indices": [
            15,
            27
          ]
        },
        {
          "screen_name": "hanscs",
          "name": "Hans C. Schellenberg",
          "id": 16584912,
          "id_str": "16584912",
          "indices": [
            28,
            35
          ]
        },
        {
          "screen_name": "tibfulv",
          "name": "Stephan Brun",
          "id": 1657566524,
          "id_str": "1657566524",
          "indices": [
            36,
            44
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "lang": "en"
  },
  "contributors_enabled": false,
  "is_translator": false,
  "is_translation_enabled": false,
  "profile_background_color": "C6E2EE",
  "profile_background_image_url": "http://abs.twimg.com/images/themes/theme2/bg.gif",
  "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme2/bg.gif",
  "profile_background_tile": false,
  "profile_image_url": "http://pbs.twimg.com/profile_images/1102985690/Screen_shot_2010-08-14_at_4.13.06_PM_normal.png",
  "profile_image_url_https": "https://pbs.twimg.com/profile_images/1102985690/Screen_shot_2010-08-14_at_4.13.06_PM_normal.png",
  "profile_banner_url": "https://pbs.twimg.com/profile_banners/15023095/1351459998",
  "profile_link_color": "1F98C7",
  "profile_sidebar_border_color": "C6E2EE",
  "profile_sidebar_fill_color": "DAECF4",
  "profile_text_color": "663B12",
  "profile_use_background_image": true,
  "default_profile": false,
  "default_profile_image": false,
  "following": false,
  "follow_request_sent": false,
  "notifications": false,
  "muting": false
}